* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.txt text eol=lf
*.bat text eol=crlf

*.png binary
*.gif binary
*.tif binary
*.xlsx binary
*.pdf binary
